<!DOCTYPE html>
<html>
<head>
    <title>chatapp</title>
    <link rel="styleSheet" href="/stylesheets/index.css">

</head>
<body>
    

<div class="container">
    {{{body}}}
</div>
 <script src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>    
    <script src="/javascripts/front .js" >
       
    </script></body>
</html>
