    <div class=" chat ">
        <div class=" name ">
        <input type=" text " class="chat-name " placeholder="enter your name">
                <button class="btn"> enter name </button>

    </div>
        <div class="chat-body hidden">
        <div class="chat-messages"></div>
        <textarea placeholder="type your message" class="message-area"></textarea>
        <div class="stat"> statue : <span class="chat-status"> idele </span> </div>
   
    </div>